
body {
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #555;
}

h2, h4, h5, h6 {
   font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    color: #333;
}

h3{
  text-align: center;
  padding-bottom:20px;
  text-transform: uppercase;
}

p {
    line-height: 28px;
    margin-bottom: 25px;
}

/*Helper Class*/

.centered {
    text-align: center;
}

a {
    color: #f85c37;
    word-wrap: break-word;
}

a:hover,
a:focus {
    color: #7b7b7b;
    text-decoration: none;
    outline: 0;
}

a:before,
a:after {

}

.technologies-list{
  color: black;
    font-style: oblique;
    font-weight: 900;
}

.demo-link{

}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.download--resume_CTA a{
  color:white;
}

.download--resume_CTA a:focus, .download--resume_CTA a:hover{
      color: #aec6ff;
    text-decoration: none;
    outline: 0;
    }

.portfolio--image__thumbnails{
  display:inline-block;
}

.portfolio--location__title{
  display:inline;
}

.portfolio--date__text{

}

.experience--list__items{
padding:25px;
}

.sticky-header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10000;
	overflow: visible;

}

.sticky-header a {
  color: #fff;
}

.topbar-inner {
	background: #52596C;
	line-height: 0;
	text-align: center;
}

.sticky-header ul#nav {
	display: inline-block;
	position: relative;
	margin: 0;
	padding: 0;

	border-right: 1px solid #52596C;


	zoom:1;
	*display: inline;
}

.sticky-header ul#nav > li {
	display: block;
    float: left;
    padding: 0;
}

.sticky-header ul#nav a {
  display: block;
  font: normal 11px/18px "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-decoration: none;
  padding: 18px 20px 18px 20px;
  transition: all 0.8s ease;

}

.sticky-header ul#nav a:hover {
	  background: #fff;
	  color: #52596C;
	  text-decoration: none;

	}

.sticky-header ul#nav .active a {
		background: #fff;

	}

.sticky-header ul#nav .active a:hover {
			background: #fff;
		}

.sticky-header i {
	font-size: 25px;
}

/* Intro Wrap */

.about--description_section {
	background: #52596C;
	padding-top: 60px;
	padding-bottom: 60px;
	color: white;
}

#skillswrap {
	background: #2c3e50;
	padding-top: 60px;
	padding-bottom: 60px;
	color: white;
}

#skillswrap p {
	color: black;
}

.footer {
	background: #2f2f2f;
	padding-top: 50px;
	padding-bottom: 50px;
}

.footer h3{
	color: white;
}

.footer i {
       margin: 30px;
    color: #1abc9c;
    font-size: 40px;
    text-align: center;
}

/* Copyright Wrap */

.copyright-wrapper {
	background: #222222;
	padding-top: 15px;
	text-align: center;
}

.copyright-wrapper p {
	color: white;
  margin:0;
}

/* Global Values */

.experience-description {
	padding-top: 5px;
}

.emphasised--text__label{
font-weight: 900;
    font-size: 18px;
    color: #153490;
    text-transform: uppercase;
        border-bottom: solid 1px;
    width: 42px;
}

.copyright-section {
  color:gray;
  text-decoration: none;
}

.copyright-section:hover{
  color:#52596C;
  transition:all 0.5s ease-in;
}

.large-header {
   position: relative;
   width: 100%;
   background: #111;
   overflow: hidden;
   background-size: cover;
   background-position: center center;
   z-index: 1;
}

.intro-banner .large-header {
   background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/499416/demo-bg.jpg");
}

.main-title {
   position: absolute;
   margin: 0;
   padding: 0;
   color: #F9F1E9;
   text-align: center;
   top: 50%;
   left: 50%;
   -webkit-transform: translate3d(-50%, -50%, 0);
   transform: translate3d(-50%, -50%, 0);
}

.main-title .thin{
    font-weight:200;
    font-size:20px;
   }

.intro-banner .main-title {
   text-transform: uppercase;
   font-size: 4.2em;
   letter-spacing: 0.1em;
}

.portfolio__title{
   font-weight: 700;
    text-align: center;
    color: #77253b;
    text-decoration: underline;
    text-transform: uppercase;
}

.video-responsive {
  width:100%;
}

@media only screen and (max-width: 768px) {
   .intro-banner .main-title {
      font-size: 3em;
   }
}
