 @import url(https://fonts.googleapis.com/css?family=Oswald);
 @import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);


.intro-header {
  padding-top: 10px;
  padding-bottom: 10px;
 /* color: #fff;*/
  /*background-image:linear-gradient(10deg, #424242, #212121);*/
 background: #fff;
  background-size: cover;
  text-align: center;
}

.intro-message > h1 {
  margin: 10px 0px;
  display: inline-block;
  padding: 5px 12px 10px 12px;
  font-family: 'Oswald', sans-serif;
  color: #2A3748;
  font-size: 6em;
  line-height: 90px;
  font-weight: 100;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.intro-message {
  position: relative;
  padding-top: 20%;
  padding-bottom: 20%;
}

canvas {
  display: block;
  vertical-align: bottom;
}

/* ---- particles.js container ---- */

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
 padding-top: 10px;
  padding-bottom: 10px;
  color: #52596C;
  /*background-image:linear-gradient(10deg, #424242, #212121);*/
  background-size: cover;
  text-align: center;
}

/* ---- stats.js ---- */


body {
  background-color: #f2f2f2;
    font-family: "Lato";
    font-weight: 300;
    font-size: 16px;
    color: #555;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

/* Titles */
h2, h4, h5, h6 {
    font-family: "Raleway";
    font-weight: 300;
    color: #333;
}
h3{
	  padding: 5px 12px 10px 12px;
  font-family: 'Lato', sans-serif !important;
  color: #FFF;
  font-size: 6em;
  line-height: 90px;
  font-weight: 300 !important;
  text-align: center;
  /*letter-spacing: 1px;*/
  text-transform: lowercase;
}

#intro-sub {
	color: #52596C;
}

/* Paragraph & Typographic */
p {
    line-height: 28px;
    margin-bottom: 25px;
}

.centered {
    text-align: center;
}

/* Links */
a {
    color: #f85c37;
    word-wrap: break-word;

    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
    color: #7b7b7b;
    text-decoration: none;
    outline: 0;
}

a:before,
a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

 hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.cvdownload{
  color:white; 
}

.cvdownload:hover{
  color: white;
    text-decoration: underline;
    outline: 0;

}


/*---------------------------------------------------
	3.1 Topbar
---------------------------------------------------*/

#section-topbar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10000;
	overflow: visible;
	font: normal 16px/24px  'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#section-topbar a {
  color: #fff;
}

#topbar-inner {
	background: #52596C;
	line-height: 0;
	text-align: center;
}

/*
	Top Bar

	By default, top navigation bar uses "fixed" position
*/
#section-topbar ul#nav {
	display: inline-block;
	position: relative;
	margin: 0;
	padding: 0;

	border-right: 1px solid #52596C;

	/* For IE, the outcast */
	zoom:1;
	*display: inline;
}

#section-topbar ul#nav > li {
	display: block;
    float: left;
    padding: 0;
}


#section-topbar ul#nav a {
  display: block;
  font: normal 11px/18px "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-decoration: none;
  padding: 18px 20px 18px 20px;
  transition: all 0.8s ease;
  /*border-left: 1px solid #222;*/
}

	#section-topbar ul#nav a:hover {
	  background: #fff;
	  color: #52596C;
	  text-decoration: none;
	 /* border-left: 1px solid #111;*/
	}

	#section-topbar ul#nav .active a {
		background: #fff;
		/*border-left: 1px solid #111;*/
	}

		#section-topbar ul#nav .active a:hover {
			background: #fff;
		}
#section-topbar i {
	font-size: 25px;
}
/*---------------------------------------------------
	SECTION WRAPS
---------------------------------------------------*/

/* Header Wrap */
#headerwrap {
	background: url(../img/header-bg.jpg) no-repeat center top;
	margin-top: 60px;
	padding-top:140px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 500px;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#headerwrap h1 {
	font-size: 80px;
	color: white;
}

#headerwrap h3 {
	font-size: 20px;
	color: white;
}

/* Intnro Wrap */

#intro {
	background: #52596C;
	padding-top: 60px;
	padding-bottom: 60px;
	color: white;
} 

#intro h5, p {
	color: white;
}

#intro i {
	color: white;
	font-size: 20px;
	padding-right: 8px;
	vertical-align: middle;
}


#skillswrap {
	background: #2c3e50;
	padding-top: 60px;
	padding-bottom: 60px;
	color: white;
}

#skillswrap h5, p {
	color: white;
}

#footwrap {
	background: #2f2f2f;
	padding-top: 50px;
	padding-bottom: 50px;
}

#footwrap p {
	color: white;
}

#footwrap h5 {
	color: white;
}


#footwrap t {
	font-weight: 700;
}

#footwrap i {
	padding-right: 8px;
	color: #1abc9c;
}

/* Copyright Wrap */

#c {
	background: #222222;
	padding-top: 15px;
	text-align: center;
}

#c p {
	color: white
}


/* Global Values */

.desc {
	padding-top: 5px;
}

.desc p {
	color: #2f2f2f;
}

.desc t {
	color: #34495e;
	font-weight: 700;
}

.desc imp {
	padding: 6px;
	color: white;
	background: #34495e;
}

.desc more {
	color: #000;
	font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #535662;
  font-size: 1.04em;
  font-weight: 500;
  text-align: left;
}


sm {
	font-size: 13px;
}
#lynka {
  color:gray;
  text-decoration: none;
}

#lynka:hover{
  color:#52596C;
  transition:all 0.5s ease-in;
} 
